<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentaroh.android.SMBSync2">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23"/>
    
	<uses-permission android:name="android.permission.INTERNET"/>
   	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
   	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>
   	<uses-permission android:name="android.permission.VIBRATE"/>
   	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   	
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    
    <!--<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />-->

    <!--android:icon="@drawable/smbsync"-->
    <!--android:roundIcon="@mipmap/ic_launcher"-->
    <application
        android:icon="@drawable/smbsync"
        android:label="@string/app_name"
        android:theme="@style/Main" 
        android:largeHeap="true"
        android:allowBackup="true">
        <receiver 
    	    android:name="com.sentaroh.android.SMBSync2.SyncReceiver"
    	    android:label="SyncReceiver"
    	    android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.DATE_CHANGED"/>
 				<action android:name="android.intent.action.TIMEZONE_CHANGED"/>
 				<action android:name="android.intent.action.TIME_SET"/>
 				<action android:name="android.intent.action.PACKAGE_REPLACED" />

				<action android:name="com.sentaroh.android.SMBSync2.ACTION_TIMER_EXPIRED" />
				<action android:name="com.sentaroh.android.SMBSync2.ACTION_SET_TIMER" />
				<action android:name="com.sentaroh.android.SMBSync2.ACTION_SET_TIMER_IF_NOT_SET" />
				<action android:name="com.sentaroh.android.SMBSync2.ACTION_START_SYNC"/>
				<action android:name="com.sentaroh.android.SMBSync2.ACTION_AUTO_SYNC"/>
				<action android:name="com.sentaroh.android.SMBSync2.ACTION_SERVICE_HEART_BEAT"/>
 												
			</intent-filter>
			
			<intent-filter>
 				<action android:name="android.intent.action.MEDIA_MOUNTED"></action>
    			<data android:scheme="file" />

 				<action android:name="android.intent.action.MEDIA_EJECT"></action>
    			<data android:scheme="file" />
 				<action android:name="android.intent.action.MEDIA_REMOVED"></action>
    			<data android:scheme="file" />
    									
 				<action android:name="android.intent.action.MEDIA_UNMOUNTED"></action>
    			<data android:scheme="file" />
						
			</intent-filter>
			
			<!--<intent-filter>-->
                <!--<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
                <!--<action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />-->
            <!--</intent-filter>-->

		</receiver>

        <activity
            android:label="@string/app_name"
            android:name="com.sentaroh.android.SMBSync2.ActivityMain"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="unspecified" 
            android:alwaysRetainTaskState="true"
            >
            <!--drawable/smbsync" >-->

            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
	        android:name="com.sentaroh.android.SMBSync2.ActivitySettings"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" 
            android:icon="@drawable/smbsync">
        </activity>
        <!-- android:noHistory="true"  -->

        <activity
            android:label="@string/app_name"
            android:name=".ActivityIntentHandler"
            android:launchMode="singleTop"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="unspecified"
            >
            <!--drawable/smbsync" >-->

            <intent-filter >
                <action android:name="com.sentaroh.android.SMBSync2.ACTION_START_SYNC"/>
                <action android:name="com.sentaroh.android.SMBSync2.ACTION_AUTO_SYNC"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.sentaroh.android.SMBSync2.SyncService"/>

        <activity 
	        android:name="com.sentaroh.android.SMBSync2.ShortcutAutoSync"
            android:label="@string/app_name_auto_sync"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
            android:taskAffinity="com.sentaroh.android.SMBSync2.ShortcutAutoSync"
            android:configChanges="orientation|keyboardHidden" android:excludeFromRecents="true">
   			<intent-filter >
				<action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
	        android:name="com.sentaroh.android.SMBSync2.ShortcutMakeAutoSync"
            android:label="@string/app_name_auto_sync"
            android:exported="true"
            android:icon="@drawable/auto_sync"
            android:excludeFromRecents="true">
   			<intent-filter>
		        <action android:name="android.intent.action.CREATE_SHORTCUT" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

    </application>

</manifest>